<button class="btn btn-secondary mt-3 btn-margen-izquierdo" (click)="volverAtras()">Volver Atrás</button>

<div class="container mt-5">
  <h2 class="text-center mb-4">Formulario Cita</h2>
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="enviarFormulario()">
      <div class="mb-2">Seleccione un Tipo de cita</div>

      <!-- Nota cómo utilizo formControlName en cada input -->
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="tipoCita" value="general">
        <label class="form-check-label">
          Consulta General
        </label>
      </div>
      <div class="form-check mb-4">
        <input class="form-check-input" type="radio" formControlName="tipoCita" value="especialidad">
        <label class="form-check-label">
          Especialidad
        </label>
      </div>

      <div class="form-group" *ngIf="form.get('tipoCita')?.value === 'especialidad'">
        <label for="especialidad">Seleccione una especialidad:</label>
        <select formControlName="especialidad">
          <option *ngFor="let tipo of tiposCitas" [value]="tipo.especialidad_medica">{{ tipo.especialidad_medica }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="fecha">Fecha:</label>
        <input type="date" class="form-control" id="fecha" formControlName="fecha">
      </div>

      <button type="submit" class="btn btn-primary mt-3">Buscar médicos disponibles</button>
    </form>
  </div>


<!-- Asumiendo que quieres mostrar esta información en alguna parte de tu plantilla -->
<div class="row">
  <!-- Días de lunes a jueves -->
  <div class="col-12">
    <div class="row">
      <div class="col-md-3 mb-4" *ngFor="let dia of ordenDias.slice(0, 4)">
        <div class="dia-container">
          <h3>{{ dia | titlecase }}</h3>
          <ul>
            <li *ngFor="let especialidad of horariosEspecialidades[dia]">{{ especialidad }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Días de sábado y domingo -->
  <div class="col-12">
    <div class="row justify-content-center">
      <div class="col-md-3 mb-4" *ngFor="let dia of ordenDias.slice(5)">
        <div class="dia-container">
          <h3>{{ dia | titlecase }}</h3>
          <ul>
            <li *ngFor="let especialidad of horariosEspecialidades[dia]">{{ especialidad }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
