<button class="btn btn-secondary mt-3 btn-margen-izquierdo" (click)="volverAtras()">Atrás</button>

<div class="container mt-5">
  <h2 class="text-center mb-4">Formulario Cita</h2>
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="enviarFormulario()">
      <div class="form-group">
        <label for="especialidad">Seleccione una especialidad:</label>
        <select formControlName="especialidad">
          <option *ngFor="let tipo of tiposCitas" [value]="tipo.especialidad_medica">{{ tipo.especialidad_medica }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="fecha">Fecha:</label>
        <input type="date" class="form-control" id="fecha" formControlName="fecha">
      </div>

      <button type="submit" class="btn btn-primary mt-3" [disabled]="!form.valid">Buscar médicos disponibles</button>

    </form>
  </div>


  <div class="info-especialidades mb-3">Revisa las especialidades médicas en los días de la semana que se encuentran abajo y selecciona en el calendario alguno de esos días. Luego, verifica si hay médicos disponibles en esa fecha selecionada.</div>

<div class="row">
  <!-- Días de lunes a jueves -->
  <div class="col-12">
    <div class="row">
      <div class="col-md-3 mb-4" *ngFor="let dia of ordenDias.slice(0, 4)">
        <div class="dia-container">
          <h3>{{ dia | titlecase }}</h3>
          <ul>
            <li *ngFor="let especialidad of horariosEspecialidades[dia]">{{ especialidad }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="col-12">
    <div class="row justify-content-center">
      <div class="col-md-3 mb-4" *ngFor="let dia of ordenDias.slice(4)">
        <div class="dia-container">
          <h3>{{ dia | titlecase }}</h3>
          <ul>
            <li *ngFor="let especialidad of horariosEspecialidades[dia]">{{ especialidad }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
