<form >
    <div class="flex flex-column">
      <span class="text-lg mb-4">Recuperar contraseña</span>
  
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="text" matInput formControlName="email" placeholder="Usuario">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput formControlName="password" placeholder="Email">
      </mat-form-field>
  
      <button mat-button mat-flat-button color="primary" type="submit">
        <mat-icon>save</mat-icon>
        Recuperar contraseña
      </button>
  
      <div class="flex justify-content-end mt-5">
        <a routerLink="/auth/register">¿No se ha registrado?</a>
        <a routerLink="/auth/login">Ir a login</a>
      </div>
   
    </div>
  </form>
  
