<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="text-center mb-4">Editar Medico</h2>
        <form [formGroup]="formulario"
        (ngSubmit)="editarMedico()">
          <div class="form-row">
            <div class="form-group col-md-6">
                <label for="id">Rut</label>
                <input type="text" class="form-control" id="nombre" formControlName="rut" placeholder="Ingresar rut">
              </div>
            <div class="form-group col-md-6">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Ingresar nombre">
            </div>
            <div class="form-group col-md-6">
              <label for="apellidos">Apellidos</label>
              <input type="text" class="form-control" id="apellidos" formControlName="apellidos" placeholder="Ingresar apellidos">
            </div>
          
          
            <div class="form-group col-md-6">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email">
              <div *ngIf="formulario.get('email')?.hasError('required') && formulario.get('email')?.touched" class="text-danger">
                El email es requerido.
              </div>
              <div *ngIf="formulario.get('email')?.hasError('email') && formulario.get('email')?.touched" class="text-danger">
                El email no es válido.
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="telefono">telefono</label>
              <input type="tel" class="form-control" id="telefono" formControlName="telefono" placeholder="direccion">
            </div>
          
        
            <div class="form-group col-md-6">
              <label for="direccion">Dirección</label>
              <input type="text" class="form-control" id="direccion" formControlName="direccion" placeholder="direccion">
            </div>
         
     
    

   
              <div class="form-group col-md-6">
                <label for="nacionalidad">Nacionalidad</label>
                <input type="text" class="form-control" id="nacionalidad" formControlName="nacionalidad" placeholder="nacionalidad">
              </div>
           
              <div class="form-group col-md-6 mb-3">
                <label for="titulos">Especialidad medica</label>
                <input type="text" class="form-control" id="titulo" formControlName="titulo" placeholder="titulo">
              </div>
         
           
              <button type="submit" class="btn btn-primary btn-block">Modificar Medico</button>
        </div>
        </form>
      </div>
    </div>
  </div>
