<div class="container mt-4">
    <div class="row">
        <!-- Botón para agendar cita -->
        <div class="col-12 text-center mb-4">
            <button class="btn btn-primary custom-day" routerLink="/formulario-cita">Agendar Cita Médica</button>
        </div>

        <!-- Título para los Horarios de la Clínica -->
 

        <!-- Rectángulos para días de la semana -->
        <div class="col-md-4">
            <div class="d-flex flex-column mb-5">
                <div *ngFor="let horario of horarioClinicas" class="p-3 m-2 rounded-circle bg-light text-center custom-day">
                    {{ horario.dia.charAt(0).toUpperCase() + horario.dia.slice(1) }}
                    <br>
                    <span *ngIf="horario.horarioApertura && horario.horarioCierre">
                        {{ horario.horarioApertura }} - {{ horario.horarioCierre }}
                    </span>
                    <span *ngIf="!horario.horarioApertura && !horario.horarioCierre">
                        Cerrado
                    </span>
                </div>
            </div>
        </div>

        <!-- Espacio para el calendario -->
        <div class="col-md-6">
            <!-- Aquí iría el componente FullCalendar -->
        </div>
    </div>
</div>
