




<div class="row animated fadeIn fast"> <!--SI NO ESTA CARGADO-->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total de historiales: </h4>
                <h6 class="card-subtitle">Historiales registrados en mi aplicacion</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
         
                          <th>ID </th>
                          <th>Diagnostico</th>
                          <th>Medicamento</th>
                          <th>notas</th>
                          <th>Medico</th>
                          <th>Fecha de consulta</th>
                          <th>Acciones</th>
                          
                         <!-- <th>Rut paciente</th> -->
                      
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let historial of historialMedico">
                          <td>{{historial.id_historial}}</td>
                          <td>{{historial.diagnostico}}</td>
                          <td>{{historial.medicamento}}</td>
                          <td>{{historial.notas}}</td>
                          <td>{{historial.medico.nombre}} {{historial.medico.apellidos}}</td>
                          <td>{{ historial.fecha_consulta | date: 'MMM d, y' }}</td>

                          <td>
                            <div class="icon-container d-flex">
                              <!-- Icono para ver historial -->
                              <a class="cursor"
                                 data-toggle="tooltip"
                                 data-original-title="Ver Historial"
                                 [routerLink]="['/ver-historial-paciente', historial.id_historial]">
                                <i class="fa fa-eye text-info"></i>
                              </a>
                            </div>
                          </td>
                          
                       <!--   <td>{{historial.rut_paciente}}</td> -->
                   

                
                
                
                        </tr>
                      </tbody>
                    </table>
                  </div>
             
                <app-paginator 
                [totalItems]="totalHistoriales" 
                [(offset)]="desde" 
                [pageSize]="5"
                (offsetChange)="cambiarPagina($event)">
              </app-paginator>
            
            </div>
        </div>
    </div>

</div>


