




<div class="row animated fadeIn fast"> <!--SI NO ESTA CARGADO-->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total de historiales: </h4>
                <h6 class="card-subtitle">Historiales registrados en mi aplicacion</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
         
                          <th>ID </th>
                          <th>Diagnostico</th>
                          <th>Medicamento</th>
                          <th>notas</th>
                          <th>Medico</th>
                          <th>Fecha de consulta</th>
                          <th>Acciones</th>
                          
                         <!-- <th>Rut paciente</th> -->
                      
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let historial of historialMedico">
                          <td>{{historial.id_historial}}</td>
                          <td>{{historial.diagnostico}}</td>
                          <td>{{historial.medicamento}}</td>
                          <td>{{historial.notas}}</td>
                          <td>{{historial.medico.nombre}} {{historial.medico.apellidos}}</td>
                          <td>{{ historial.fecha_consulta | date: 'MMM d, y' }}</td>

                          <td>
                            <div class="icon-container d-flex">
                              <!-- Icono para ver historial -->
                              <a class="cursor"
                                 data-toggle="tooltip"
                                 data-original-title="Ver Historial"
                                 [routerLink]="['/ver-historial-paciente', historial.id_historial]">
                                <i class="fa fa-eye text-info"></i>
                              </a>
                            </div>
                          </td>
                          
                       <!--   <td>{{historial.rut_paciente}}</td> -->
                   

                
                
                
                        </tr>
                      </tbody>
                    </table>
                  </div>
                <!--ESTA CONDICION SE HACE PARA QUE CUANDO SE TECLEA EN LA BARRA DE BUSQUEDA Y SE CARGAN LOS RESULTADOS DE BUSQUEDA DESAPARESCAN LOS BOTONES SIGUIENTES Y ANTERIOR EN LA PANTALLA-->
                <div> <!--SI EL TERMINO ES IGUAL A 0 LOS BOTONES SIGUIENTE Y ANTERIOR SE VAN A MOSTRAR CASO CONTRARIO VAN A DESAPARECER-->
                  <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anteriores</button>
                  &nbsp; <!--Esto es para que exista una pequeña separacion entre ambos-->
                  <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguiente</button>
              </div>
            
            </div>
        </div>
    </div>

</div>


