<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center mb-4">Formulario de Registro de Horario Médico</h2>
      <form [formGroup]="horarioMedicoForm" (ngSubmit)="crearHorario()">
        <div class="form-group mt-3">
          <label for="diaSemana">Día de la Semana</label>
          <input type="text" class="form-control" id="diaSemana" formControlName="diaSemana" placeholder="Lunes">
        </div>
        <div class="form-group mt-3">
          <label for="horaInicio">Hora de Inicio</label>
          <input type="time" class="form-control" id="horaInicio" formControlName="horaInicio" placeholder="08:00:00">
        </div>
        <div class="form-group mt-3">
          <label for="horaFinalizacion">Hora de Finalización</label>
          <input type="time" class="form-control" id="horaFinalizacion" formControlName="horaFinalizacion" placeholder="12:00:00">
        </div>


        <div class="form-group">
          <label for="rutMedico">Médico</label>
          <select class="form-control" id="rutMedico" formControlName="rut_medico">
            <option [value]="null">Selecciona un médico</option>
            <option *ngFor="let medico of medicos" [value]="medico.rut">{{ medico.nombre }} (RUT: {{ medico.rut }})</option>
          </select>
        </div>
        <div class="form-group mt-3">
          <label for="disponibilidad">Disponibilidad</label>
          <select class="form-control" id="disponibilidad" formControlName="disponibilidad">
            <option *ngFor="let opcion of disponibilidadOpciones" [value]="opcion.valor">
              {{ opcion.etiqueta }}
            </option>
          </select>
        </div>
        
        

        <button type="submit" class="btn btn-primary btn-block mt-3">Registrar Horario Médico</button>
      </form>
    </div>
  </div>
</div>
