<button type="button" class="btn btn-secondary btn-block mt-3" (click)="regresarAGestionarMedicos()">Regresar a Horarios Médicos</button>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center mb-4">Formulario de Registro de Horario Médico</h2>
      <div style="background-color: #ffcc00; color: #333; padding: 10px; border-radius: 5px; margin: 20px 0; border: 1px solid #ffa500;">
        <strong>Advertencia:</strong> Por favor, asegúrese primero de completar el formulario de Tipo Cita ingresando especialidades médicas en la sección gestionar tipo de cita,  luego asegúrese registrar médicos que tengan especialización en esas áreas médicas para que de esta forma esos médicos  se muestren en la selección de médicos junto a sus especialidades creadas al final de este formulario.
      </div>
      
      <form [formGroup]="horarioMedicoForm" (ngSubmit)="crearHorario()">
        <div class="form-group mt-3">
          <label for="diaSemana">Día de la Semana</label>
          <select class="form-control" id="diaSemana" formControlName="diaSemana">
            <option value="">Seleccione día de la semana</option>
            <!-- Opciones de días -->
            <option value="lunes">Lunes</option>
            <option value="martes">Martes</option>
            <option value="miercoles">Miércoles</option>
            <option value="jueves">Jueves</option>
            <option value="viernes">Viernes</option>
            <option value="sabado">Sábado</option>
            <option value="domingo">Domingo</option>
          </select>
          <!-- Alerta para campo requerido -->
          <div *ngIf="horarioMedicoForm.controls['diaSemana'].touched && horarioMedicoForm.controls['diaSemana'].errors?.['required']" class="text-danger">
            Este campo es obligatorio.
          </div>
        </div>
        
        
        <div class="form-group mt-3">
          <label for="horaInicio">Hora de Inicio</label>
          <input type="time" class="form-control" id="horaInicio" formControlName="horaInicio" placeholder="08:00:00">
          <!-- Alerta para campo requerido -->
          <div *ngIf="horarioMedicoForm.controls['horaInicio'].touched && horarioMedicoForm.controls['horaInicio'].errors?.['required']" class="text-danger">
            Este campo es obligatorio.
          </div>
        </div>
        
        <div class="form-group mt-3">
          <label for="horaFinalizacion">Hora de Finalización</label>
          <input type="time" class="form-control" id="horaFinalizacion" formControlName="horaFinalizacion" placeholder="12:00:00">
          <!-- Alerta para campo requerido -->
          <div *ngIf="horarioMedicoForm.controls['horaFinalizacion'].touched && horarioMedicoForm.controls['horaFinalizacion'].errors?.['required']" class="text-danger">
            Este campo es obligatorio.
          </div>
        </div>
        


        <div class="form-group">
          <label for="rutMedico">Médico</label>
          <select class="form-control" id="rutMedico" formControlName="rut_medico" required>
            <option value="">Selecciona un médico</option>
            <option *ngFor="let medico of medicos" [value]="medico.rut">{{ medico.nombre }} (Especialidad: {{ medico.especialidad_medica }})</option>
          </select>
        </div>
        
  
        
        

        <button type="submit" class="btn btn-primary btn-block mt-3" [disabled]="!horarioMedicoForm.valid">Registrar Horario Médico</button>

      </form>
    </div>
  </div>
</div>
