
<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input type="text"
                        class="form-control"
                        placeholder="Buscar historial..."
                       > <!--CUANDO SE PRESIONE UNA TECLA BUSQUE EL TERMINO KEYUP ES PARA VER LAS LETRAS QUE SE ESCRIBEN EN TIEMPO REAL MIENTRAS SE EPREISONA UNA LETRA-->

            </div>
        </div>
    </div>
</div>


<div class="row animated fadeIn fast"> <!--SI NO ESTA CARGADO-->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total de usuarios: </h4>
                <h6 class="card-subtitle">Usuarios registrados en mi aplicacion</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Nombre</th>
                                <th>Fecha</th>
                                <th>Paciente</th>
                                <th>Medico</th>
                                <th>Tipo_cita</th>
                                <th>estado</th>
                                <th>hora_inicio</th>
                                <th>Hora_fin</th>
                                <th>acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center"> <!--Abrir modal se activa cuando se hace click en la umagen del usuario (se le pasa el usuario de la imagen)-->
                                </td>
                                <td></td>                         
                                <td></td>              
                                
                                
                                <td>
                                    <!-- si el usuario selecciona la opción "Admin" en el <select>, el valor del 
                                        usuario.role se actualizará a "ADMIN_ROLE" (como aparece en los option del select)
                                        . Si el usuario selecciona la opción "User", el valor del usuario.role se 
                                        actualizará a "USER_ROLE eso es porque usuario.role esta enlazado al ngModel es decir
                                        que cuando el usuario le de click a alguna de las opciones se activa el evento change lo que hace que se active la funcion cambiar rol"-->
                             
                                </td>

                                <!--ESTO ES PARA QUE EN LA TABLA EN EL APARTADO DE AUTH APAREZCA SI EL USUARIO ES DE GOOGLE O UN USUARIO NORMAL QUE SE REGISTRO EN LA PAGINA-->
                                <td>
                                
                                </td>
           
                               
                                
                                <!--SIMBOLITO PARA ELIMINAR USUARIO-->
                                <td class="text-nowrap text-center">
                                    <a data-toggle="tooltip"
                                     data-original-title="Borrar"
                                     class="cursor"
                                     > <!--SE ENVIA A LA FUNCION EL USUARIO QUE SE QUIERE ELIMINAR CUANDO SE LE HACE CLICK AL SIMBOLITO EL QUE SE CRE EN EL NG*FOR DE ARRIBA-->
                                         <i class="fa fa-close text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--ESTA CONDICION SE HACE PARA QUE CUANDO SE TECLEA EN LA BARRA DE BUSQUEDA Y SE CARGAN LOS RESULTADOS DE BUSQUEDA DESAPARESCAN LOS BOTONES SIGUIENTES Y ANTERIOR EN LA PANTALLA-->
                <div> <!--SI EL TERMINO ES IGUAL A 0 LOS BOTONES SIGUIENTE Y ANTERIOR SE VAN A MOSTRAR CASO CONTRARIO VAN A DESAPARECER-->
                    <button  class="btn btn-secondary">Anteriores</button>
                    &nbsp; <!--Esto es para que exista una pequeña separacion entre ambos-->
                    <button  class="btn btn-secondary">Siguiente</button>
                </div>
            
            </div>
        </div>
    </div>

</div>



