<div class="row animated fadeIn fast">
  <div class="col-12">
      <div class="card">
          <div class="card-body">

            <div class="alert alert-warning" role="alert">
              Si ya tienes horarios con medicos registrados puedes crear una cita medica
              <a href="/agregar-cita" class="btn btn-info"> Aqui</a>
            </div>

              <!-- Mensaje destacado encima de la barra de búsqueda -->
              <p style="font-weight: bold; color: #ff5733;">Buscar horarios medicos por dia de trabajo ejemplo: lunes, martes, miercoles.....</p>

              <input type="text"
                     class="form-control"
                     placeholder="Buscar medicos por dia de trabajo ejemplo: lunes, martes, miercoles....."
                     #txtTermino
                     (keyup)="buscar( txtTermino.value )"/>
          </div>
      </div>
  </div>
</div>


<div class="container-fluid">
    <div class="row">
      <div class="col">
        <!-- Contenido principal aquí -->
      </div>
      <div class="col-auto">
        <a routerLink="/agregar-horario-medico" class="btn btn-primary">Agregar Horario</a>
      </div>
    </div>
  </div>
<!--
    export interface HorarioMedico {
    idHorario?: number; // El signo de interrogación indica que es opcional, ya que se autoincrementa en la base de datos
    diaSemana: string;
    horaInicio: string;
    horaFinalizacion: string;
    hora_inicio_colacion?: string;
    hora_fin_colacion?: string;
    duracionCitas: number;
    rutMedico: string;
    disponibilidad: boolean;
    fechaCreacion?: Date; // Se asumirá que el servidor establecerá la fecha de creación automáticamente
  }
-->
<div class="row animated fadeIn fast"> <!--SI NO ESTA CARGADO-->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Horarios: ({{totalHorarios}}) </h4>
                <h6 class="card-subtitle">Horarios registrados en mi aplicacion</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
         
                          <th>diaSemana</th>
                          <th>horaInicio</th>
                          <th>horaFinalizacion</th>

                          
                          <th>Nombre medico</th>
                          <th>Especialidad medica</th>
                          <th>disponibilidad</th>
                     
                          <th>Acciones</th>
                          <!-- Agrega más columnas según tus necesidades -->
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let horario of horarios">
                          <td>{{ horario.diaSemana }}</td>
                          <td>{{ horario.horaInicio }}</td>
                          <td>{{ horario.horaFinalizacion }}</td>
 
                          <td>{{ horario.medico.nombre }}</td>
                          <td>{{ horario.medico.especialidad_medica }}</td>
                          
                          <td>{{ horario.disponibilidad }}</td>
                   
              
                          <!-- Aquí puedes agregar botones de acciones para cada médico -->
              <!--BOTON PARA BORRAR MEDICO-->
              <td>
                <div class="icon-container">
                  <a class="cursor"
                    data-toggle="tooltip" 
                    data-original-title="Borrar"
                    (click)="borrarHorario( horario )"> 
                    <i class="fa fa-close text-danger"></i> 
                  </a>
                </div>
                <div class="icon-container">
                  <a class="cursor"
                    data-toggle="tooltip" 
                    data-original-title="Editar"
                    (click)="editarHorario( horario )"> 
                    <i class="fa fa-pencil text-primary"></i> 
                  </a>
                </div>
                </td>
                
                
                
                        </tr>
                      </tbody>
                    </table>
                  </div>
                <!--ESTA CONDICION SE HACE PARA QUE CUANDO SE TECLEA EN LA BARRA DE BUSQUEDA Y SE CARGAN LOS RESULTADOS DE BUSQUEDA DESAPARESCAN LOS BOTONES SIGUIENTES Y ANTERIOR EN LA PANTALLA-->
                <div *ngIf="txtTermino.value.length === 0"> <!--SI EL TERMINO ES IGUAL A 0 LOS BOTONES SIGUIENTE Y ANTERIOR SE VAN A MOSTRAR CASO CONTRARIO VAN A DESAPARECER-->
                  <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anteriores</button>
                  &nbsp; <!--Esto es para que exista una pequeña separacion entre ambos-->
                  <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguiente</button>
              </div>
            
            </div>
        </div>
    </div>

</div>


