.icon-container {
    display: inline-block; /* Alinea los elementos en línea */
    vertical-align: middle; /* Ajusta la alineación vertical según tus preferencias */
    margin-right: 10px; /* Puedes ajustar el margen según tus preferencias */
  }