

<div class="row animated fadeIn fast"
>
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input type="text"
                        class="form-control"
                        placeholder="Buscar medico..."
                        #txtTermino
                        (keyup)="buscar( txtTermino.value )"/>

            </div>
        </div>
    </div>
</div> 




<div class="row" 
>
    <div class="col-12">
        <div class="card">
            <div class="card-body">      
                
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Medicos ({{ medicos.length }})</h4>
                        <h6 class="card-subtitle">
                            Medicos registrados en mi aplicación
                        </h6>
                    </div>
                    <!--BOTON DE CREAR MEDICO-->
                    <div class="col">
                        <div class="text-right">
                            <a class="btn btn-primary"
                               routerLink="/agregar-medico">
                                <i class="fa fa-hospital-o"></i> 
                                Crear médico
                            </a>
                        </div>
                    </div>

                </div>

                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Foto</th>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        <th>Dirección</th>
                        
                        <th>Nacionalidad</th>
                        <th>Títulos</th>
                        <th>Acciones</th>
                        <!-- Agrega más columnas según tus necesidades -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let medico of medicos">
                        <td>{{ medico.foto }}</td>
                        <td>{{ medico.rut }}</td>
                        <td>{{ medico.nombre }}</td>
                        <td>{{ medico.apellidos }}</td>
                        <td>{{ medico.telefono }}</td>
                        <td>{{ medico.email }}</td>
                        <td>{{ medico.direccion }}</td>
                        
                        <td>{{ medico.nacionalidad }}</td>
                        <td>{{ medico.especialidad_medica }}</td>
                        <!-- Aquí puedes agregar botones de acciones para cada médico -->
            <!--BOTON PARA BORRAR MEDICO-->
            <td>
                <div class="icon-container">
                  <a class="cursor"
                    data-toggle="tooltip" 
                    data-original-title="Borrar"
                    (click)="borrarMedico( medico )"> 
                    <i class="fa fa-close text-danger"></i> 
                  </a>
                </div>
                <div class="icon-container">
                  <a class="cursor"
                    data-toggle="tooltip" 
                    data-original-title="Editar"
                    (click)="editarMedico( medico )"> 
                    <i class="fa fa-pencil text-primary"></i> 
                  </a>
                </div>
              </td>
              
              
              
                      </tr>
                    </tbody>
                  </table>
                </div>
                
                <div *ngIf="txtTermino.value.length === 0"> <!--SI EL TERMINO ES IGUAL A 0 LOS BOTONES SIGUIENTE Y ANTERIOR SE VAN A MOSTRAR CASO CONTRARIO VAN A DESAPARECER-->
                  <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anteriores</button>
                  &nbsp; <!--Esto es para que exista una pequeña separacion entre ambos-->
                  <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguiente</button>
              </div>
            </div>
        </div>
    </div>

</div>
