<!-- Suponiendo que este es tu componente: instrucciones.component.html -->
<div class="container">
    <h1 class="title">Bienvenido al Sistema de Gestión de Citas Médicas</h1>
    <p class="introduction">
        A continuación, encontrará instrucciones detalladas para facilitar la gestión de su clínica. Por favor, siga estos pasos en el orden presentado para una experiencia eficiente.
    </p>
    <ol class="instruction-list">
        <li><strong>Registro de Pacientes:</strong> Registre a los pacientes en la sección "Gestionar Pacientes". Utilice el botón "Crear Usuarios" para completar el formulario.</li>
        <li><strong>Registro de Médicos:</strong> Registre a los médicos en "Gestionar Médicos". Haga clic en "Crear Médicos" y complete el formulario correspondiente.</li>
        <li><strong>Creación de Tipos de Citas Médicas:</strong> Defina tipos de citas médicas (ej: cardiología, psicología), asignando duración y precio en la sección correspondiente.</li>
        <li><strong>Creación de Horarios para Médicos:</strong> Establezca horarios para los médicos en "Gestionar Horarios Médicos", seleccionando "Crear Horario Médico".</li>    
        <li><strong>Programación de Citas Médicas:</strong> Programe citas médicas para los pacientes. Pueden ser adquiridas por los usuarios de la aplicación o registradas por usted, asegurese de que una vez terminada una cita con un paciente cambiar su estado a termino o si no no podra agendar otras citas con ese paciente.</li>
    </ol>
</div>

